.App {
  text-align: center;
}

.App div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.button-save {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border: none;
  margin-left: 2%;
}
